<mat-sidenav-container class="h-screen">
    <mat-sidenav mode="side"
                 opened>
        <div class="p-4 flex items-center gap-2">
            <img ngSrc="/img/logo.svg"
                 width="32"
                 height="32"
                 alt="Void" />
            <span class="font-semibold">VOID</span>
        </div>
        <mat-nav-list>
            <a mat-list-item
               routerLink="/game/home">Inicio</a>
            <a mat-list-item
               routerLink="/game/system">Sistema</a>
            <a mat-list-item
               routerLink="/game/ship">Nave</a>
            <a mat-list-item
               routerLink="/game/profile">Perfil</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar>
            <span class="flex-1">Panel de control</span>
            <!-- espacio para notificaciones o estado -->
        </mat-toolbar>
        <main class="p-4">
            <router-outlet />
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>