<div class="bg" [ngClass]="{'show': show}">
	<img src="/assets/loading.svg" *ngIf="!loaded">
	<span *ngIf="!loaded">Cargando...</span>
	
	<div class="shop" *ngIf="loaded">
		<div class="shop-header">
			<mat-icon mat-list-icon>monetization_on</mat-icon>
			<span>{{npc.name | urldecode}}</span>
			<button mat-icon-button aria-label="Cerrar tienda" (click)="closeShop()">
				<mat-icon>close</mat-icon>
			</button>
		</div>
		<div class="shop-body">
			<mat-tab-group>
				<mat-tab label="Comprar">
					<div class="shop-selling">
						<mat-list>
							<h3 mat-subheader *ngIf="npc.ships.length>0">Naves</h3>
							<mat-list-item *ngFor="let ship of npc.ships">
								<mat-icon mat-list-icon svgIcon="void-ship"></mat-icon>
								<h4 class="shop-item-title" mat-line>
									<span class="shop-item-name">{{ship.ship.name | urldecode}}</span>
									<span class="shop-item-credits">{{ship.ship.credits}}<mat-icon mat-list-icon>attach_money</mat-icon></span>
								</h4>
							</mat-list-item>
							<h3 mat-subheader *ngIf="npc.modules.length>0">Módulos</h3>
							<mat-list-item *ngFor="let module of npc.modules">
								<mat-icon mat-list-icon>dns</mat-icon>
								<h4 class="shop-item-title" mat-line>
									<span class="shop-item-name">{{module.module.name | urldecode}}</span>
									<span class="shop-item-credits">{{module.module.credits}}<mat-icon mat-list-icon>attach_money</mat-icon></span>
								</h4>
							</mat-list-item>
							<h3 mat-subheader *ngIf="resources.length>0">Recursos</h3>
							<mat-list-item *ngFor="let resource of resources">
								<mat-icon mat-list-icon [svgIcon]="'void-resource-'+resource.id"></mat-icon>
								<h4 class="shop-item-title" mat-line>
									<span class="shop-item-name">{{resource.name | urldecode}}</span>
									<span class="shop-item-credits">{{resource.credits}}<mat-icon mat-list-icon>attach_money</mat-icon></span>
								</h4>
							</mat-list-item>
						</mat-list>
					</div>
				</mat-tab>
				<mat-tab label="Vender"> Content 2 </mat-tab>
			</mat-tab-group>
		</div>
	</div>
</div>