<mat-toolbar color="primary">
  <mat-toolbar-row>
	<button routerLink="/" mat-icon-button>
		<mat-icon>arrow_back</mat-icon>
	</button>
    <span>Void Universe</span>
  </mat-toolbar-row>
</mat-toolbar>

<form name="frm-login" (ngSubmit)="doRegister($event)">
	<mat-card class="center-card">
		<mat-card-header>
			<mat-card-title>Registro</mat-card-title>
		</mat-card-header>
		<mat-card-content class="center-card-fields">
			<mat-form-field>
				<mat-label>Nombre de usuario</mat-label>
				<input matInput [(ngModel)]="registerData.name" [disabled]="registerSending" required name="name">
			</mat-form-field>
			<mat-form-field>
				<mat-label>Email</mat-label>
				<input matInput type="email" [(ngModel)]="registerData.email" [disabled]="registerSending" required name="email">
			</mat-form-field>
			<mat-form-field>
				<mat-label>Contraseña</mat-label>
				<input matInput type="password" [(ngModel)]="registerData.pass" [disabled]="registerSending" required name="pass">
			</mat-form-field>
			<mat-form-field>
				<mat-label>Confirmar contraseña</mat-label>
				<input matInput type="password" [(ngModel)]="registerData.conf" [disabled]="registerSending" required name="conf">
			</mat-form-field>
			<fieldset *ngIf="registerNameError" class="center-card-error">
				<legend>Error</legend>
				El nombre de usuario ya está en uso.
			</fieldset>
			<fieldset *ngIf="registerEmailError" class="center-card-error">
				<legend>Error</legend>
				El email introducido ya está en uso. ¿Has olvidado tu contraseña?
			</fieldset>
			<fieldset *ngIf="registerPassError" class="center-card-error">
				<legend>Error</legend>
				Las contraseñas no coinciden.
			</fieldset>
		</mat-card-content>
		<mat-card-actions class="center-card-buttons center-card-buttons-end">
			<button mat-raised-button color="primary" [disabled]="registerSending" type="submit">
				<img *ngIf="registerSending" src="/assets/loading.svg">
				Continuar
			</button>
		</mat-card-actions>
	</mat-card>
</form>