.header-bar {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

.header-menu {
	display: flex;
	height: 80px;
	align-items: center;
	border-bottom: 0;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 10;
	background-color: var(--tabs-bg-color);

	a {
		color: #fff;
		display: flex;
		text-decoration: none;
		flex: 1;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		align-items: center;

		&:hover {
			background-color: var(--tabs-selected-color);
			color: #fff;
		}

		span {
			display: inline-block;
			text-align: center;
			margin-top: 6px;
			margin-left: 0;
		}
	}
}

.selected {
	background-color: var(--tabs-selected-color);
}

.badge {
	display: inline-block;
	background-color: #3f51b5;
	color: #fff;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-top: 0 !important;
}

@media only screen and (min-width: 600px) {
	.header-menu {
		height: 40px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
		top: 64px;

		a {
			flex-direction: row;

			span {
				margin-left: 6px;
				align-items: center;
				display: flex;
				justify-content: center;
			}
		}
	}
}