<mat-toolbar class="header-bar">
	<mat-toolbar-row>
		<span>Void Universe</span>
	</mat-toolbar-row>
</mat-toolbar>
<div class="header-menu">
	<a routerLink="/home"
	   [ngClass]="{'selected': selected() === 'home'}">
		<mat-icon>home</mat-icon>
		<span>Sistema actual</span>
	</a>
	<a routerLink="/navigate"
	   [ngClass]="{'selected': selected() === 'navigate'}">
		<mat-icon svgIcon="void-system"></mat-icon>
		<span>Navegar</span>
	</a>
	<a routerLink="/ship"
	   [ngClass]="{'selected': selected() === 'ship'}">
		<mat-icon svgIcon="void-ship"></mat-icon>
		<span>Nave</span>
	</a>
	<a routerLink="/messages"
	   [ngClass]="{'selected': selected() === 'messages'}">
		<mat-icon>email</mat-icon>
		<span>
			Mensajes
			@if (numMessages() > 0) {
			<span class="badge">{{numMessages()}}</span>
			}
		</span>
	</a>
</div>