<void-header [selected]="'navigate'"></void-header>

<main>
	<mat-card class="system">
		<mat-card-header>
			<mat-card-title>Sistema</mat-card-title>
		</mat-card-header>
		<mat-card-content class="system-content" #systemContent>
			<div class="sun" [ngStyle]="sun"></div>
			<div class="planet-radius" *ngFor="let o of orbits" [ngStyle]="o"></div>
			<div class="planet" *ngFor="let p of planets" [ngStyle]="p" [id]="'planet_'+p.id">
				<span>{{p.name}}</span>
			</div>
			<style type="text/css" [innerHTML]="animations"></style>
		</mat-card-content>
	</mat-card>
	
	<mat-card class="options">
		<mat-card-content>
			<div class="system-info-box">
				<div class="system-info-box-header">
					{{system.name | urldecode}}
				</div>
				<div class="system-info-box-body">
					<div class="system-info-box-line">
						<label>Tipo de estrella:</label>
						<span>
							{{system.type}}
							<a mat-icon-button color="primary" aria-label="Ver en la Wikipedia" href="{{system.typeLink | urldecode}}" target="_blank">
								<mat-icon>info</mat-icon>
							</a>
							<span class="system-info-box-desc">{{system.typeDesc | urldecode}}</span>
						</span>
					</div>
					<div class="system-info-box-line">
						<label>Num. planetas:</label>
						<span>{{system.planets.length}}</span>
					</div>
					<div class="system-info-box-line">
						<label>Descubridor:</label>
						<span>{{system.discoverer}}</span>
					</div>
					<div class="system-info-box-line">
						<label>Comerciantes:</label>
						<span>{{system.numNPC}}</span>
					</div>
				</div>
			</div>
			
			<div class="system-info-box">
				<div class="system-info-box-header">
					Planetas
				</div>
				<div class="system-info-box-body">
					<mat-action-list>
						<button mat-list-item *ngFor="let planet of system.planets">{{planet.name | urldecode}}</button>
					</mat-action-list>
				</div>
			</div>
			
			<h3 class="navigate-title">
				<mat-icon>share</mat-icon>
				Navegar a otro sistema
			</h3>
			
			<mat-action-list>
				<button mat-list-item *ngFor="let conn of connections">
					<div class="navigate-system">
						<mat-icon svgIcon="void-system" *ngIf="conn.idSystemEnd"></mat-icon>
						<mat-icon *ngIf="!conn.idSystemEnd">help</mat-icon>
						<span class="navigate-system-name" *ngIf="conn.name">{{ conn.name | urldecode}}</span>
						<span class="navigate-system-name" *ngIf="!conn.name">Desconocido</span>
						<span class="navigate-system-time">{{conn.navigateTime | timeFormat}}</span>
					</div>
					<mat-divider></mat-divider>
				</button>
			</mat-action-list>
		</mat-card-content>
	</mat-card>
</main>