<void-header></void-header>

<main>
	<div class="first-row">
		<mat-card>
			<div class="info-col">
				<div class="info-row">
					<label>Sistema:</label>
					<span>{{system.system}}</span>
				</div>
				<div class="info-row">
					<label>Tipo de estrella:</label>
					<span>
						{{system.star}}
						<button mat-icon-button color="primary" aria-label="Ver en la Wikipedia">
							<mat-icon>info</mat-icon>
						</button>
					</span>
				</div>
				<div class="info-row">
					<label>Num. planetas:</label>
					<span>{{system.numPlanets}}</span>
				</div>
			</div>
			<div class="info-col">
				<div class="info-row">
					<label>Créditos:</label>
					<span>{{system.credits}}</span>
				</div>
				<div class="info-row">
					<label>Integridad nave:</label>
					<span>{{system.strength}} / {{system.maxStrength}}</span>
				</div>
			</div>
		</mat-card>
		<mat-card>
			<div class="message-list">
				<mat-nav-list *ngIf="system.messages.length>0">
					<a mat-list-item href="#" *ngFor="let message of system.messages; let last = last;">
						<mat-icon mat-list-icon *ngIf="message.type==1">email</mat-icon>
						<mat-icon mat-list-icon *ngIf="message.type==2">monetization_on</mat-icon>
						<h4 mat-line>{{ message.name }} <span class="message-date">{{message.date}}</span></h4>
						<p mat-line> {{ message.message }}</p>
						<mat-divider *ngIf="!last"></mat-divider>
					</a>
				</mat-nav-list>
				<span *ngIf="system.messages.length==0">No hay ningún mensaje nuevo</span>
			</div>
		</mat-card>
	</div>
	<div class="second-row">
		<mat-card>
			<mat-list>
				<mat-list-item *ngFor="let character of system.characters; let last = last;">
					<mat-icon mat-list-icon *ngIf="character.type==1">account_box</mat-icon>
					<mat-icon mat-list-icon *ngIf="character.type==2">monetization_on</mat-icon>
					<h4 class="character-item" mat-line>
						{{ character.name | urldecode }}
						<span class="flex-space"></span>
						<button mat-raised-button color="primary" *ngIf="character.type==1">
							<mat-icon>email</mat-icon>
							<span>Mensaje</span>
						</button>
						<button mat-raised-button color="warn" *ngIf="character.type==1" class="button-separator">
							<mat-icon>compare_arrows</mat-icon>
							<span>Atacar</span>
						</button>
						<button mat-raised-button color="primary" *ngIf="character.type==2">
							<mat-icon>shopping_cart</mat-icon>
							<span>Abrir tienda</span>
						</button>
					</h4>
					<mat-divider *ngIf="!last"></mat-divider>
				</mat-list-item>
			</mat-list>
		</mat-card>
	</div>
</main>