<mat-card class="system">
	<mat-card-header>
		<mat-card-title>
			<a href="#"
			   class="system-header-go"
			   (click)="selectSystem($event)">Sistema ({{system.name}})</a>
			@if (planet.id) {
			<span class="system-header-divider">&gt;</span>
			<a href="#"
			   class="system-header-go"
			   (click)="selectPlanet(null, $event)">Planeta ({{planet.name}})</a>
			}
		</mat-card-title>
	</mat-card-header>
	<mat-card-content class="system-content"
					  #systemContent>
		@for (star of stars; track star) {
		<div class="stars"
			 [ngStyle]="{
				'top': star.top + '%',
				'right': star.right + '%',
				'width': star.width + 'px',
				'height': star.width + 'px',
				'animation': 'small-pulse ' + star.pulse + 's infinite'
			}"></div>
		}
		@if (!planet.id) {
		<div class="sun"
			 [ngStyle]="sun"></div>
		@for (o of planetOrbits; track o) {
		<div class="planet-radius"
			 [ngStyle]="o"></div>
		}
		@for (p of planets; track p.id) {
		<div class="planet"
			 [ngStyle]="p"
			 [id]="'planet_'+p.id"
			 (click)="selectPlanet(p)">
			<span>{{p.name}}</span>
		</div>
		}
		}

		@if (planet.id) {
		<div class="one-planet"
			 [ngStyle]="planet"></div>
		@for (o of moonOrbits; track o) {
		<div class="moon-radius"
			 [ngStyle]="o"></div>
		}
		@for (m of moons; track m.id) {
		<div class="moon"
			 [ngStyle]="m"
			 [id]="'moon_'+m.id"
			 (click)="selectMoon(m)">
			<span>{{m.name}}</span>
		</div>
		}
		}
	</mat-card-content>
</mat-card>