@use '@angular/material' as mat;

@include mat.elevation-classes();
@include mat.app-background();

$angular-primary: mat.m2-define-palette(mat.$m2-indigo-palette, 500, 100, 900);
$angular-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$angular-warn: mat.m2-define-palette(mat.$m2-red-palette);

$angular-default-theme: mat.m2-define-dark-theme((color: (primary: $angular-primary,
				accent: $angular-accent,
				warn: $angular-warn,
			),
		));

@include mat.all-component-themes($angular-default-theme);

:root {
	--bg-color: rgba(255, 255, 255, 0.4);
	--card-bg-color: #424242;
	--card-color: #fff;
	--header-bg-color: #212121;
	--tabs-bg-color: #424242;
	--tabs-selected-color: #353535;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.center-card {
	max-width: 300px;
	margin: 50px auto;
}

.center-card-fields>* {
	width: 100%;
}

.center-card-buttons {
	display: flex !important;
	justify-content: space-between;

	img {
		width: 20px;
	}
}

.center-card-buttons-end {
	display: flex !important;
	justify-content: flex-end;
}

.center-card-error {
	border-radius: 6px;
	box-sizing: border-box;
	border-color: #f44336;
	color: #f44336;
	border-width: 2px;
}

.mat-mdc-card {
	background-color: var(--card-bg-color) !important;
	color: var(--card-color) !important;
}

.mdc-button {
	color: var(--card-color) !important;
}

.mat-mdc-input-element,
.mat-mdc-floating-label {
	color: var(--card-color) !important;
}

.mat-mdc-list-item-title,
.mat-mdc-list-item-line,
.mat-mdc-list-item-icon,
.mdc-list-item__primary-text {
	color: var(--card-color) !important;
}

.full-width {
	width: 100%;
}