@use '@angular/material' as mat;
/* You can add global styles to this file, and also import other style files */
@include mat.core();

$primary: mat.define-palette(mat.$indigo-palette,A400);
$accent: mat.define-palette(mat.$lime-palette,A400);
$warn: mat.define-palette(mat.$red-palette);

$test: mat.define-dark-theme($primary, $accent, $warn);

@include mat.all-component-themes($test);

$bg-color: rgba(255,255,255,0.4);
$card-bg-color: #424242;
$header-bg-color: #212121;
$tabs-bg-color: #424242;
$tabs-selected-color: #353535;

html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.center-card {
	max-width: 300px;
	margin: 50px auto;
}

.center-card-fields > * {
	width: 100%;
}

.center-card-buttons {
	display: flex !important;
	justify-content: space-between;
	
	img {
		width: 20px;
	}
}

.center-card-buttons-end {
	display: flex !important;
	justify-content: flex-end;
}

.center-card-error {
	border-radius: 6px;
    box-sizing: border-box;
    border-color: #f44336;
    color: #f44336;
    border-width: 2px;
}