@use '@angular/material' as mat;

:root {
  /*--mat-sys-body-medium: 400 1rem/1.5rem Roboto, "Helvetica Neue", Arial, sans-serif;*/

  --color-blue: #005cbb;
  --color-white: #fff;
  --color-red: #f44336;
  --color-grey: #ccc;

  @include mat.toolbar-overrides((container-background-color: var(--color-blue),
      container-text-color: var(--color-white),
    ));
}

mat-toolbar {
  /* por si quieres reforzarlo a nivel de toolbar, además del :root */
  @include mat.toolbar-overrides((container-background-color: var(--color-blue),
      container-text-color: var(--color-white),
    ));

  /* Iconos sueltos */
  @include mat.icon-overrides((color: var(--color-white)));

  /* Botón de icono */
  @include mat.icon-button-overrides((icon-color: var(--color-white)));

  /* Botones de texto/outlined/filled dentro de la toolbar (opcional) */
  @include mat.button-overrides((text-label-text-color: var(--color-white),
      outlined-label-text-color: var(--color-white),
      protected-label-text-color: var(--color-white),
      filled-label-text-color: var(--color-white)));
}

* {
  box-sizing: border-box;
}

html {
  font-size: 112.5%;

  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}

html,
body {
  height: 100%;
}

.full-width {
  width: 100%;
}

@media (max-width: 600px) {
  html {
    font-size: 100%;
  }
}